@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.Name {
    text-align: center;
    color: whitesmoke;
    font-size: 90px;
    font-family: 'Roboto Condensed', sans-serif;
}

.Title {
    text-align: center;
    color: whitesmoke;
}

.shipText {
    color: whitesmoke;
}

.alienButton {
    display: flex;
    flex-direction: column;
}